.transaction-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:10px;
}

body {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.task {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}